<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>


<div id="blogs">
  <% @blogs.each do |blog| %>
  <div><%= link_to blog.status.upcase, toggle_status_blog_path(blog) %>
    <%= render blog %>
    <p>
      <%= link_to "Details", blog %>
      <%= link_to "Edit", edit_blog_path(blog) %>
      <%= link_to "Delete", blog, method: :delete %>
    </p></div>
  <% end %>
</div>

<%= link_to "New blog", new_blog_path %>