<h1>Portfolio list</h1>


<% @portfolios.each do |item| %>

    <p>Title: <%=item.title%> </p>
    <p>Subtitle: <%=item.subtitle%> </p>
    <p>Body: <%=item.body%> </p>

    <% if item.thumb_image? %>
        <%= image_tag item.thumb_image %>
    <% end %>
    <%= link_to 'Edit', edit_portfolio_path(item) %>
    <%= link_to 'Show details', portfolio_path(item) %>
<% end %>

