<!DOCTYPE html>
<html>
  <head>
    <title>BlogRevisited</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div>
      <%if current_user%>
      <%= link_to "Home", root_path %>
      <%= link_to "about", about_path %>
      <%= link_to "Portfolios", portfolios_path %>
      <%= link_to "Blogs", blogs_path %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>

      <%else%>
      <%= link_to "Login", user_session_path %>
      <% end %>

      
    </div>
    <%= yield %>

    <%#using session to share data between all pages. This example show a model of having
    <%# links in this format "main_url?website=facebook" on social media for example so that when user come facebook,
    <%# session[;source value is equal to facebook which is the param passed in the url after ?website=***. The method for that have been added to the
    <%# application controller through the SetSource concern: def set_source
    <%# session[:source] = params[:website] if params[:website] end
    
    %>
    
    <% if session[:source] %>
    <p>Thanks from visiting from <%= session[:source] %></p>
      
    <% end %>
    
  </body>
</html>
